doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title gala.
        link(rel='stylesheet', href='/stylesheets/gallery.css')
        script(src='/scripts/gallery.js')
        script(src='/scripts/user.js')
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0")



        
    body 
        include ../partials/header
        div.left#left
            div.user-info
                div.user-name
                    if session.userId == id
                        h1 #{user.username}
                       
                            a(href=`/users/${user.id}/edit`) edit
                    else 
                        - if (session.user.following.includes(id.toString()))
                            h1 #{user.username}
                            a(onclick=`unfollow(${JSON.stringify({"id": id})})`).follow#follow unfollow
                        - else 
                            h1 #{user.username}
                            a(onclick=`follow(${JSON.stringify({"id": id})})`).follow#follow follow

                div.user-stats
                    div.user-stats-container
                        div.user-stats-item
                            h1 workshops: 
                                for workshop in workshops 
                                    br
                                    a(href=`/workshop/${workshop._id}`).workshop #{workshop.name}  
                        
                               


                            
        div.middle#middle
            div.gallery
                h1 #{title}.
                each picture in gallery 
                        div.photo-container
                            img(onclick=`genModal(${JSON.stringify(picture)})` src=`${picture.image}` alt=`${picture.description}`)
            
        div.img-modal#img-modal
            div.modal-content
                div.modal-header#modal-header
                    span.close#close
                        i.fas.fa-times close
                    p.message#message
                div.modal-body#modal-body
                div.modal-footer#modal-footer
                div.modal-likes#modal-likes
                div.modal-reviews#modal-reviews
                div.modal-new-review#modal-new-review
                    
                    
                

                        